<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFilter</servlet-name>
        <servlet-class>com.servlet.LoginFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loginservletyazar</servlet-name>
        <servlet-class>com.servlet.yazar.Loginservletyazar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServletYazar</servlet-name>
        <servlet-class>com.servlet.yazar.LogOutServletYazar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <servlet-class>com.servlet.FileUploadDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YazarLoginServlet</servlet-name>
        <servlet-class>com.hakemservlet.HakemLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFilter</servlet-name>
        <url-pattern>/LoginFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loginservletyazar</servlet-name>
        <url-pattern>/Loginservletyazar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServletYazar</servlet-name>
        <url-pattern>/LogOutServletYazar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <url-pattern>/FileUploadDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YazarLoginServlet</servlet-name>
        <url-pattern>/YazarLoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
